asgiref==3.7.2
Django==4.2
django-appconf==1.0.6
django-browser-reload==1.12.1
django-compressor==4.4
django-jazzmin==2.6.0
pillow==10.2.0
rcssmin==1.1.1
rjsmin==1.2.1
sqlparse==0.4.4
tzdata==2024.1
whitenoise==6.6.0
